/* Ajuste na barra de navegação */
.navbar {
    padding: 10px 0;
}

/* Ajuste no tamanho da logo dentro da navbar */
.navbar-brand img {
    max-width: 120px;
    height: auto;
    display: block;
}

/* Estilo do carrossel */
#carouselPersonagens {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start; /* Move o carrossel para a esquerda */
}

/* Ajuste no tamanho das imagens e organização */
.character-card {
    width: 150px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.character-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta sem deixar bordas pretas */
}

.character-card:hover img {
    transform: scale(1.05);
}

/* Sinopse oculta e revelada ao passar o mouse */
.character-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.character-card:hover .character-info {
    opacity: 1;
}

/* Ajuste nas setas do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
}
