/* Ajuste na barra de navegação */
.navbar {
    padding: 10px 0;
}

/* Ajuste no tamanho da logo dentro da navbar */
.navbar-brand img {
    max-width: 120px; /* Define um limite máximo para a logo */
    height: auto; /* Mantém a proporção */
    display: block;
}
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.character-carousel {
    display: flex;
    gap: 20px; 
    justify-content: flex-start; 
}
.character {
    width: 200px; 
    height: 400px;
    flex-shrink: 0; 
}

.character img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.character:hover img {
    transform: scale(1.05);
}

.character-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.character:hover .character-info {
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 50%;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
